Windows pyqt5
* { 
	color: #aaa; 
	font-size: 14px;
}

/*******************************************
* CONTENT
*******************************************/
#mainFrame{
	border: 1px solid #000;
	background:  #000;
}

/* HEADER                                  */
/*-----------------------------------------*/
#logo{
	background:  #444;
	
}

#mainHeader{
	background:  #444;
	color: #bbb
}

#mainHeader QLabel{
	background:  #444;
}

#appTitle{
	font-weight: bold;
}

#appDescription, #appTitle{
	color: #bbb;
}

#windowicons QLabel{
	background:  #444; 
}

#windowiconsvar{
	border: none
}
#windowicons QPushButton{
	background: transparent;
	border: none;
}
#windowicons QPushButton#restorewindow:hover,
#windowicons QPushButton#maximizewindow:hover,
#windowicons QPushButton#minimizewindow:hover{ 
	border: none;
	background: #888;
}

#windowicons QPushButton#closewindow:hover{ 
	background: red;
}

QLabel#appLogo{
	background:  #444;
}
/*******************************************/
/* FOOTER                                  */
/*******************************************/
#mainFooter QFrame{
	border: none;
}

#mainFooter{
	background:  #111;
}

#footerActions QPushButton{ 
	border: none;
	background: #111;
}

#footerActions QPushButton:hover{
    background: #000;
}


/*******************************************/
/* WINDOWACTIONS TOPICONS                  */
/*******************************************/
#windowiconsvar{
	border: none
}
#windowicons QPushButton:hover{ 
	border: none;
	background: #000;
}
#windowicons QPushButton#closewindow:hover{ 
	background: red;
}
/*******************************************/
/* PANELS                                  */
/*******************************************/

#controllerPanel1, 
#controllerPanel2, 
#controllerPanel3,
#controllerPanel4, 
#controllerPanel5, 
#controllerPanel6{
 	background: blue;
    border-right: 1px solid #999;
	
}

#controllerPanel1 QPushButton, 
#controllerPanel2 QPushButton, 
#controllerPanel3 QPushButton,
#controllerPanel4 QPushButton, 
#controllerPanel5 QPushButton, 
#controllerPanel6 QPushButton{
	background: transparent;
	border: none;
}

#controllerPanel1 QPushButton:hover, 
#controllerPanel2 QPushButton:hover, 
#controllerPanel3 QPushButton:hover,
#controllerPanel4 QPushButton:hover, 
#controllerPanel5 QPushButton:hover, 
#controllerPanel6 QPushButton:hover{
	background: #000;
}

LabelHorizontal, LabelVertical, #controllerPanel5 QLabel{
	font-weight: bold;
	color: #d7c245;
	font-size: 16px;
	padding-left: 20px;
}

#panel1, #panel2, #panel3, #panel5, #panel6{
 	background: #000;
	color: #fff;
}

#controllerPanel5{
    border-bottom: 1px solid #999;
}
#controllerPanel1, #controllerPanel2{
    border-left: 1px solid #999;
}

#controllerPanel3, #controllerPanel4, #controllerPanel5, #controllerPanel6{
    border-right: 1px solid #999;
}

#panel6{
    border-right: 1px solid #999;
}

#controllerPanel1 QFrame,
#controllerPanel2 QFrame,
#controllerPanel3 QFrame,
#controllerPanel4 QFrame,
#controllerPanel5 QFrame{
	border: none;
}

/*******************************************/
/* BUTTONS                                 */
/*******************************************/
QPushButton{
	padding: 5px;
    background: #666;
	border: 1px solid #999;
	color: #bbb;
}

 QPushButton:hover{
    background: #000;
	border: 1px solid #999;
	color: #aaa;
}


/*******************************************/
/* SCROLLBAR                               */
/*******************************************/
QScrollBar {
    background: #999;
    width: 8px;   
}

QScrollBar::handle {
    background:  #666;
}

QScrollBar::add-line:vertical, 
QScrollBar::add-line:horizontal  {
    border: none;
    background: none;
}

QScrollBar::sub-line:vertical, 
QScrollBar::sub-line:horizontal  {
    border: none;
    background: none;
  }

QScrollBar::handle:hover:vertical, 
QScrollBar::handle:hover:horizontal {
    /*background: #000;*/
    border-radius: 3px;
}
/*******************************************/
/* TREEVIEW                                */
/*******************************************/
QTreeView, QTreeWidget{
    alternate-background-color: #333;
	background:  #000;
	border: none;
}

QTreeView::Item{
    height:20px;
}

QHeaderView::section, QHeaderWidget::section {
    color: #37c886;
	font-weight: bold;
    background: #000;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #999;
}
/*******************************************/
/* TOOLBOX                            */
/*******************************************/


/*******************************************/
/* TOOLTIP                            */
/*******************************************/
QToolTip { 
	background-color: #666; 
	color: #fff; 
	border: 1px solid #37c886; 
	border-radius: 3px;
}

/*******************************************/
/* LINEEDIT                            */
/*******************************************/
/*
QLineEdit{
    background-color: #000;
    color: #dce1ec;
}
*/
/*
QLineEdit {
	background-color: #333;
	border: 1px solid transparent;
	padding-left: 10px;
    padding-right: 10px;
	selection-background-color: #000;
    color: #ccc;
}
QLineEdit:focus {
	border: 1px solid #999;
    background-color: #333;
	color: #bbb;
}
*/
/*******************************************/
/* ToolBox                                 */
/*******************************************/

/*******************************************/
/* TABS                                    */
/*******************************************/
QTabBar::tab {
	background: #666;
	border: 1px solid #999;
	padding: 8px;
	font-weight: bold;
	min-width: 100px;
  }

#panel3 QTabBar::scroller{
	width: 0px;
}

QTabBar::tab:selected {
	background: #000;
	margin-bottom: -1px;
	color: #dce1ec;
	border-bottom: 2px solid #999;
}

QTabWidget::pane {
	/*border: 1px solid #000;*/
	top:0px;
	background: transparent;
	border-top: 1px solid #999;
}
/*******************************************/
/* NAVIGATION MENU                         */
/*******************************************/
#contentMenu QTreeWidget{
	font-weight: bold;
}

#contentMenu QTreeWidget::Item{
    height:30px;
	font-weight: bold;
	border-bottom:0px solid;
	/*padding-top: 5px;*/
	padding-left: 10px;
	margin-right: 10px;
}

#contentMenu QTreeWidget::Item:selected{
	color: #fff;	

}

#contentMenu QTreeWidget::item:hover {
    background: #000;
}

#contentMenu QTreeWidget::branch::vertical{
	background: #000;
}

#contentMenu QTreeWidget::Item:!has-children:selected{
	border-left:3px solid #37c886;
	color: #8a95aa;
}


#contentMenu QTreeWidget::branch  {
    border-image: none;
    image: none;
	background: #000;
    }

/*******************************************/
/* SCROLLAREA                            */
/*******************************************/
QScrollArea, #scrollArea2, #scrollArea1, #scrollArea2 QFrame, #scrollArea1 QFrame{
	border: none
}

#scrollAreaWidgetContents{
    background: #000;
    border: 1px solid #000;
}
#scrollAreaWidgetContents2{
    background: #000;
    border: 1px solid #000;
}
/*******************************************/
/* TABLE                            */
/*******************************************/
QTableView, QTableWidget{
	alternate-background-color: #333;
    border: 1px solid #222;
    color: #dce1ec;
	background:  #000;
}

QTableCornerButton::section{
    background-color: #666;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    color: #8a95aa;
}

#pageHeader QLabel{
	border-bottom: 1px solid #999;
	/*color: #37c886;*/
	font-weight: bold;
    background: #000;
	padding-right: 30px;	
	font-style: italic;
	color: #aaa;
	
}

/*******************************************/
/* PROGRESS                            */
/*******************************************/
#panel3 QProgressBar{
	background: #000;
	color: #fff;
}


content
content
